---
import Base from "@layouts/Base.astro";
---

<Base title="Projects" description="Projects by Will Breiler">
  <article>
    <header><h1>Projects</h1></header>

    <section>
      <h2>
        <a href="https://github.com/wbreiler/example" target="_blank"
          >Project Name</a>
      </h2>
      <p>Short description of what the project does and why you built it.</p>
    </section>

    <section>
      <h2>
        <a href="https://github.com/wbreiler/example2" target="_blank"
          >Another Project</a>
      </h2>
      <p>Short description of what the project does and why you built it.</p>
    </section>
  </article>
</Base>
