---
const currentYear = new Date().getFullYear();
---

<footer>
  <p>&copy; 2024-{currentYear} Will Breiler</p>
  <nav>
    <ul>
      <li><a href="https://github.com/wbreiler" target="_blank">GitHub</a></li>
    </ul>
  </nav>
</footer>
{/* CSS required to keep footer at the bottom of the page */}
<style>
  footer {
    position: sticky;
    top: 100vh;
  }
</style>
